.SocialLinks {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  @media (min-width: $portable) {
    padding-bottom: 0;
  }

  &-shop {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &-label {
    padding-right: 1rem;

    text-transform: uppercase;
  }

  &-link {
    padding-right: 1rem;
    height: 1.5rem;

    .dot {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }

    &--facebook {
      .dot {
        background-color: $facebook;
      }
    }

    &--instagram {
      .dot {
        background-color: $instagram;
      }
    }

    &--twitter {
      .dot {
        background-color: $twitter;
      }
    }
  }
}
