.layout {
  // 62px to compensate for fixed mobile nav
  padding: 1rem 1rem 62px;

  @media (min-width: $tablet) {
    padding: 1rem;
  }

  &-main {
    @media (min-width: $tablet) {
      padding-bottom: 115px; // footer height
    }

    @media (min-width: $portable) {
      padding-bottom: 70px;
    }
  }
}
