.SocialLinks {
  display: flex;
  align-items: initial;

  &-label {
    padding-right: 1rem;

    text-transform: uppercase;
  }

  &-link {
    padding-right: 1rem;
    .dot {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }

    &--facebook {
      .dot {
        background-color: $facebook;
      }
    }

    &--instagram {
      .dot {
        background-color: $instagram;
      }
    }

    &--twitter {
      .dot {
        background-color: $twitter;
      }
    }
  }
}
