.button {
  display: inline-block;
  padding: calc(0.25rem + 1px) 1.25rem;
  border: 1px solid $black;
  transition: all 0.25s ease-out;
  text-transform: uppercase;
  font-weight: $primary-font-weight;

  &:hover {
    background-color: $light-gray;
    box-shadow: $depth;
  }
}
