// Main Colors
$blue: #57818f;
$pink: #dc93b1;
$green: #54a78a;
$purple: #816e8e;
$orange: #e9896b;

// Monochrome
$black: #262628;

$white: #fff;

$facebook: #3b5998;
$instagram: #e4405f;
$twitter: #1a97f1;
